<div class="election-alternative-container">
  <h2>Inicie a votação</h2>

  <p>Insira as informações abaixo para iniciar a votação</p>
  <!--depois colocar aqui o usuário que solicitou a eleição e o timestamp-->
  <form (ngSubmit)="startElection()">
    <div class="form-group">
      <label for="populacao_total">Numero total de população</label>
      <input type="number" 
             id="populacao_total"
             name="populacao_total"
             [(ngModel)]="populacao_total"
             min="1">
    </div>

    <div class="form-group">
      <label for="num_cidades">Quantidade de cidades</label>
      <input type="number"
             id="num_cidades"
             name="num_cidades"
             [(ngModel)]="num_cidades"
             min="1">
    </div>

   
    <button type="submit"
            class="submit-button">
      Iniciar votação
    </button>
  </form>

  <div *ngIf="message" class="{{message.includes('sucesso') ? 'success' : 'error'}}">
    {{ message }}
  </div>

  
